

.itemcarrusel{

    height: 48rem;
    width: 48rem;
    position: relative;
}

.tarjetacarrusel{
  
    height: 100%;
}

.flechacarrusel{
   
   height: 100%;
   width: 100%;
   position:absolute;
   top: 0rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2rem;
   
}

.flechacarrusel img{
    height: 4rem;
   width: 4rem;
}

#conteItem{
    height: 48rem;
    width: 48rem;
    top: 20rem;
   overflow: hidden;
}

.conteItem{
    left: 100rem;
}

#tarjetacarrusel-1 img{
   width: 48rem;
   height: 48rem;

}


#tarjetacarrusel-2 img{
    width: 48rem;
    height: 48rem;

}


#tarjetacarrusel-3 img{
    width: 48rem;
    height: 48rem;
}

.top{
 margin-top: 10rem; 
 margin-left: 55rem;
}
