/**home******************************************************/
.fondo{
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: flex-start;
}

    h1{
    margin-top: 35rem;
    position: absolute;
    display: flex;
    font-family: 'Vidaloka', serif; 
    margin-left: 7rem;
    font-size:  7rem;
    color: var(--color4);
    }

    p{
    margin-top: 45rem;
    position: absolute;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    margin-left: 7rem;
    font-size:  1.6rem;
    color: var(--color4);
    }
    .PRESENTACIÓN {

        width: 15%;
        height: 5%;
        border-radius: 5rem;
        justify-content: space-around;
        align-items: center;
        margin-left: 10rem;
        display: flex;
        flex-direction: row; 
        }  
    .PRESENTACIÓN a {
        position: absolute;
        display: flex;
        flex-direction: row; 
        margin-bottom: 60rem;
        background-color: var(--color4);
        width: 15%;
        height: 5%;
        border-radius: 5rem;
        justify-content: space-around;
        padding-top: 0.5rem;
        color: #fff;
        text-decoration: none;
        font-family: 'Quicksand', sans-serif; 
        font-size: 1.5rem;
    }
    .PRESENTACIÓN  :hover {
        color: white;
        background-color: var(--color2);}


     

/**REDES******************************************************/


.redes{
    position: absolute;
    width: 100%;
    height: 78rem;
    top: 230rem;
    background:#D1954D;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.64);
    }

.redes h1{
    height: 1.5rem;
    left: 2rem;
    bottom: 45rem;
    font-family: 'Vidaloka';
    font-style: normal;
    font-weight: 400;
    font-size: 7rem;
    line-height: 8rem;
    color: #EDDECD;
    text-transform: capitalize;}




.redes ol{
    width: 50rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center; 
    height: 70rem;
    margin-top: 15rem;
    
}

.redes ol img{
    z-index: 1;
    height: 6rem;
    width: 6rem;

}

.redes ol img:hover{
    opacity: 50%;
    animation-duration: 1s;
}


.phone{
    position: absolute;
    width: 100rem;
    height: 80rem;
    right: 0rem;
    top: 228rem;
}
.coffee{
    z-index: 1;
    position: absolute;
width: 20rem;
height: 30rem;
right: 0.7rem;
top: 270rem;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
