
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    }

    
    html{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Vidaloka', serif;
    
    
    }
    
    :root {
        --color1: #BF9411;
        --color2: #D1954D;
        --color3: #EDDECD;
        --color4: #5A0000;
        --color5: #AD172B;
        --color6: #ffffff;
    
    }
    
    
    
