/*header*/

header{
    position: absolute;
    width: 100%;
    height: 2rem;
    left: -1rem;
    top: -6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.carpet img {
    position: absolute;
    width: 50px;
    height: 130px;
    left: 50px;
    cursor: pointer;
}

.bajaopacidad{
    position: absolute;
    width: 300px;
    display: none;  
 }
 
 .activaopacidad{
     display: flex;
 }
 
 
 .nav_link{
     color: white;
     display: block;
     padding: 15px 0;
     text-decoration: none;
     font-family: 'Quicksand', sans-serif;
     font-size: 20px;
 }
 .nav_link:hover{
     animation-duration: 1s;
     border-radius: 16px;
     background-color: var(--color4);}
 
 
 
 .list{
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     flex-direction: column;
     border-radius: 0 16px 0 16px;
     background-color: var(--color2);
     
 }
 .list_item{
     list-style: none;
     width: 100%;
     text-align: center;
 
 }
 
 /*clases de java*/
 
 .body_move{
     margin-left: 250px;
 }
 
 .menu_side_move{
    width: 250px;
 }
 
 
 
 

/*carrusel*/


.itemcarrusel{
    height: 18rem;
    width: 18rem;
    position: relative;
}

.tarjetacarrusel{
  
    height: 100%;
}

.flechacarrusel{

   height: 100%;
   width: 100%;
   position:absolute;
   top: 0rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2rem;
   left: -2rem;
   
}

.flechacarrusel img{
    height: 2rem;
   width: 2rem;
   
}

#conteItem{
    height: 15rem;
    width: 15rem;
    top: 20rem;
   overflow: hidden;
}

.conteItem{
    left: 100rem;
  
}

#tarjetacarrusel-1 img{
   width: 15rem;
   height: 15rem;

}


#tarjetacarrusel-2 img{
    width: 15rem;
    height: 15rem;

}


#tarjetacarrusel-3 img{
    width: 15rem;
    height: 15rem;
}

.top{

 margin-top: 8rem; 
 margin-left:   5rem;
}


/*div*/
/**div 1*/
.completo{
    position: absolute;
width: 100%;
height: 30rem;
top: 14rem;
bottom: 20rem;
background:#EDDECD;
box-shadow: inset 0px 4px 4px rgba(126, 126, 126, 0.64);
}
/**granos de cafe*/
.cafeizquierda{
z-index: 1; 
position: absolute;
width: 12rem;
height: 29rem;
left: 0.2rem;
top: 8rem;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cafederecha{
z-index: 1;
    position: absolute;
width: 12rem;
height: 29rem;
right: 0.5rem;
top: 0.4rem;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*cafe animado*/
 .grano1{
        display: none;
        position: absolute;
        width: 6rem;
        height: 6.4rem;
        right: 4rem;
        top: 50rem;
        transform: rotate(-55.45deg);
        }

 .grano2{
        display: none;
        position: absolute;
        width: 6.4rem;
        height: 6.4rem;
        left: 4rem;
        top: 50rem;
        transform: rotate(-55.45deg);
        }


 .grano3{
        display: none;
        position: absolute;
        width: 6rem;
        height: 6.4rem;
        left: 4rem;
        top: 5rem;
        transform: rotate(-55.45deg);
        }

.title{
    display: none;
    position: absolute;
    width: 30rem;
    top: -24rem;
    z-index: 1;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 5.8rem;
    text-align: center;
    text-transform: capitalize;
    color: #5A0505;
    left: -4rem;
    
    
}    
/************************************************/

/**div2*/
/**imagenes y fondo*/

.marmol img{
    position: absolute;
    width: 100%;
    height: 60rem;
    top: 40rem;
}    


.caramel{
        display: none;
        position: absolute;
         height:  40rem;
        right: 0.8rem;
        top: 100rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
    }
.taza img{
        display: none;
        position: absolute;
        width: 38rem;
        height: 48rem;
        left: 0.1rem;
        top: 120rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }


/***paneles de información*/

/**cafe grano dorado*/
.logo1 img{
    position: absolute;
width: 5rem;
height: 5rem;
left:   10rem;
top: 41rem;
border-radius: 10rem;
z-index: 1;

}

.descrip{
    
position: absolute;
width: 16rem;
height: 10rem;
left: 4rem;
top: 45rem;
background: #D1954D;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 1rem;

}

.descrip p{
position: absolute;
width: 180px;
height: 120px;
left: -4rem;
top: -28rem;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 20px;
text-align: justify;
text-transform: capitalize;

color: #ffffff;


}

/*torani*/

.logo2 img{
    position: absolute;
width: 5rem;
height: 5rem;
left:   10rem;
top: 57rem;
border-radius: 10rem;
z-index: 1;

}

.descrip2{
    
position: absolute;
width: 16rem;
height: 10rem;
left: 4rem;
top: 60rem;
background: #D1954D;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 1rem;

}

.descrip2 p{
position: absolute;
width: 180px;
height: 120px;
left: -4rem;
top: -28rem;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 20px;
text-align: justify;
text-transform: capitalize;

color: #ffffff;


}


/**magister*/
.logo3 img{
    position: absolute;
width: 5rem;
height: 5rem;
left:   10rem;
top: 72rem;
border-radius: 10rem;
z-index: 1;

}

.descrip3{
    
position: absolute;
width: 16rem;
height: 10rem;
left: 4rem;
top: 76rem;
background: #D1954D;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 1rem;

}

.descrip3 p{
position: absolute;
width: 180px;
height: 120px;
left: -4rem;
top: -28rem;

font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 20px;
text-align: justify;
text-transform: capitalize;

color: #ffffff;


}
/*catalogo*/

.CATALOGOS{

position: absolute;
width: 2rem;
height: 5rem;
left:  4rem;
top: 175rem;
border-radius: 6rem;

display: flex;
}
.CATALOGOS  :hover {
color:#ffffff;
background-color: var(--color2);}

.CATALOGOS a{
    display: none;
text-decoration: none;
position: absolute;
width: 15rem;
height: 2rem;
top: -85rem;
color: #ffffff;
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 3rem;
text-transform: capitalize;
background: #5A0505;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 6rem;
text-align: center;
}


.dorado{
    position: absolute;
width: 474px;
height: 474px;
left: 200px;
top: 1250px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.55));
}

.ganos{
    position: absolute;
width: 474px;
height: 474px;
left: 916px;
top: 1250px;

background: #5A0505;
}
.ganos p{
        position: absolute;
    width: 389px;
    height: 184px;
    right: 50px;
    bottom: 100px;
    color: white;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 191%;
    /* or 46px */
    
    display: flex;
    align-items: center;
    text-align: justify;
    text-transform: capitalize;
    }
    

.ganos img{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 150px;
    top: 12px;
    
}

.flehca{
    position: absolute;
    width: 78px;
    height: 78px;
    left: 750px;
    top: 1425px;
    
}

/*css*/
/**home******************************************************/

.fondo{
    
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: flex-start;
}

    h1{
    left: -2rem;
    margin-top: 23rem;
    position: absolute;
    display: flex;
    font-family: 'Vidaloka', serif; 
    margin-left: 7rem;
    font-size:  1.2rem;
    color: var(--color4);
    
    }

    p{
        left: -2rem;
       width: 7rem; 
    margin-top: 30rem;
    position: absolute;
    display: flex;
    font-family: 'Quicksand', sans-serif;

    font-size:  0.3rem;
    color: var(--color4);
    }
    .PRESENTACIÓN {
        
        width: 15%;
        height: 5%;
    
        justify-content: space-around;
        align-items: center;
        margin-left: 5rem;
        display: flex;
        flex-direction: row; 
        background-color: var(--color4);
        }  
    .PRESENTACIÓN a {
        position: absolute;
        display: flex;
        flex-direction: row; 
        margin-bottom: 60rem;
        top: 13rem;
        width: 15%;
        height: 2%;
        border-radius: 2rem;
        justify-content: space-around;
        padding-top: 0.5rem;
        color: #fff;
        text-decoration: none;
        font-family: 'Quicksand', sans-serif; 
        font-size: 0.2rem;
    }
    .PRESENTACIÓN  :hover {
        color: white;
        background-color: var(--color2);}


     

/**REDES******************************************************/


.redes{
    position: absolute;
    width: 100%;
    height: 40rem;
    top: 100rem;
    background:#D1954D;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.64);
    }

  
    .redes h1{
        z-index: 1;
        position: absolute;
        width: 2rem;
        height: 4rem;
        left: 2rem;
        top: -20rem;
        text-align: center;
        font-family: 'Vidaloka';
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2rem;
        text-transform: capitalize;
        
        color: var(--color4);
        
    
    }
    
    
    .phone{
    position: absolute;
    width: 30rem;
    height: 30rem;
    right: 0rem;
    top: 23rem;
    
    }
    
    .insta{
        position: absolute;
    width: 3rem;
    height: 3rem;
    left: 13rem;
    top: 15rem;
    
    }
    .insta img:hover{
        opacity: 50%;
        animation-duration: 1s;
    }
    
    
    .face{
        position: absolute;
        width: 3rem;
        height: 3rem;
        left: 7rem;
        top: 15rem; 
    }
    
    .face img:hover{
        opacity: 50%;
        animation-duration: 1s;
    }
/*footer*/
.footer{
 
    position: absolute;
    width: 100%;
    height: 7rem;
    left: 0px;
    top:   150rem;
    
    background: #5A0505;
}

.footer h1{
    position: absolute;
   

    left: -5rem;
    top: -20rem;
    
    font-family: 'Vidaloka';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 4.4rem;
    text-transform: capitalize;
    
    color: #FFFFFF;
}


